@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
@import url("https://fonts.cdnfonts.com/css/garden-grown-us");
@font-face {
  font-family: "gracility";
  src: url("/font/GracilityRegular-0WPqo.ttf");
}
@font-face {
  font-family: "montserat";
  src: url("/font/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "ramadan";
  src: url("/font/HidayatullahDemo-mLp39.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.bg {
  background-color: #fcfcfc;
  height: 100vh;
  overflow: hidden;
}
.bg header {
  height: 80px;
  position: fixed;
  padding-top: 10px;
  width: 100%;
}
.bg header .wrapper {
  display: flex;
  justify-content: space-between;
}
.bg header .wrapper .humburguer {
  margin-top: 10px;
}
.bg header .wrapper .humburguer span {
  display: block;
  margin-bottom: 4px;
  width: 25px;
  height: 3px;
  background-color: #002b3e;
  border-radius: 5px;
}
.bg header .wrapper .humburguer span:nth-child(2) {
  width: 15px;
}
.bg header .wrapper .humburguer span:nth-child(3) {
  width: 7px;
}
.bg header .wrapper .date p {
  font-family: "ramadan";
  font-size: 16px;
  color: #002b3e;
}
.bg .wrapper {
  position: relative;
}
.bg .wrapper .over-views {
  position: absolute;
  margin-top: 90px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
}
.bg .wrapper .over-views .card {
  background-color: #f0dcbb;
  height: 140px;
  padding: 20px;
  border-radius: 10px;
  transition: transform 300ms ease-out;
}
.bg .wrapper .over-views .card:nth-child(2) {
  background-color: #faf3e8;
}
.bg .wrapper .over-views .card:nth-child(3) {
  background-color: #f2f5fc;
}
.bg .wrapper .over-views .card:nth-child(4) {
  background-color: #fcf9f4;
}
.bg .wrapper .over-views .card h1 {
  font-size: 20px;
  font-family: "ramadan";
  color: #002b3e;
  margin-bottom: 5px;
}
.bg .wrapper .over-views .card img {
  position: relative;
  margin-top: -8px;
  left: 57px;
  width: 68px;
}

section.main .wrapper .find {
  position: fixed;
  height: 50px;
  width: 50px;
  bottom: 67px;
  right: 26px;
  border-radius: 50%;
  background-color: #002b3e;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
section.main .wrapper .find #text {
  color: #fff;
  font-size: 13px;
  font-family: "montserat";
  display: none;
}
section.main .wrapper .find img {
  position: relative;
  width: 30px;
  height: 30px;
}

.dua {
  position: relative;
  top: 400px;
}
.dua .dua-view {
  padding: 20px;
  background-color: #f2f5fc;
  border-radius: 15px;
}
.dua .dua-view h1 {
  font-size: 20px;
  color: #002b3e;
  font-family: "ramadan";
  margin-bottom: 5px;
}
.dua .dua-view p {
  font-family: "montserat";
  font-size: 13px;
  color: #000;
  margin-bottom: 10px;
  text-wrap: pretty;
}
@media (min-width: 48rem) {
  .dua .dua-view p {
    font-size: 20px;
  }
}
.dua .dua-view span {
  color: #002b3e;
}

.categorias {
  position: relative;
  top: 410px;
}
.categorias .wrapper h1 {
  font-size: 20px;
  font-family: "ramadan";
  color: #002b3e;
  margin-bottom: 10px;
}
.categorias .wrapper .cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.categorias .wrapper .cards .over {
  display: grid;
  justify-items: center;
  background-color: #fcefe8;
  padding: 2px;
}
.categorias .wrapper .cards .over:nth-child(2) {
  background-color: #f4f8e7;
}
.categorias .wrapper .cards .over:nth-child(3) {
  background-color: #fff5d6;
}

.calendar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #002b3e;
  height: 50px;
  border-radius: 30px 30px 0px 0px;
  width: 100%;
  transition: height 0.5s ease-out;
  bottom: 0;
}
.calendar img {
  width: 25px;
  height: 25px;
}

.overlay {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: #fff;
  max-width: 70%;
  max-height: 70%;
  overflow: hidden;
  position: relative;
  animation: slideIn 0.5s ease-out;
}

.popup img {
  width: 100%;
  height: auto;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
.slide-in {
  animation: slideIn 0.5s ease-out;
}

@keyframes slideIn2 {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
body {
  overflow: hidden;
  background: #002b3e;
}

button {
  border: none;
}

.wrapper {
  max-width: 1240px;
  width: 90%;
  margin: 0 auto;
}

section.hero {
  justify-content: end;
  width: 100vw;
  height: 100vh;
  background-image: url(/bg.png);
  object-fit: cover;
  background-position: left;
}
section.hero .wrapper {
  height: 100vh;
  position: relative;
}
section.hero .wrapper .logo {
  width: 70px;
}
section.hero .wrapper .content {
  position: absolute;
  bottom: 0;
  z-index: 3;
  overflow: hidden;
}
@media (min-width: 48rem) {
  section.hero .wrapper .content {
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-top: 140px;
  }
}
section.hero .wrapper .content h1 {
  font-family: "ramadan";
  color: #fff;
  font-size: 30px;
}
@media (min-width: 48rem) {
  section.hero .wrapper .content h1 {
    font-size: 50px;
  }
}
section.hero .wrapper .content p {
  font-family: "montserat";
  color: #fff;
  font-weight: lighter;
  font-size: 15px;
  text-wrap: pretty;
  margin-bottom: 30px;
}
@media (min-width: 48rem) {
  section.hero .wrapper .content p {
    font-size: 22px;
  }
}
section.hero .wrapper .center {
  overflow: hidden;
  display: block;
  justify-content: center;
  text-align: center;
}
@media (min-width: 48rem) {
  section.hero .wrapper .center {
    position: relative;
  }
}
section.hero .backdrop {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 45%;
  width: 100vw;
  z-index: 2;
  background-color: #002b3e;
  border-radius: 40px 40px 0 0;
}

.btn {
  position: relative;
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  width: 90%;
  border-radius: 50px;
  background-color: #fff;
  margin-bottom: 30px;
}
.btn a {
  font-size: 16px;
  font-family: "montserat";
  color: #002b3e;
}

.btn2 {
  background-color: #fff;
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
  border-radius: 50%;
}
.btn2 img {
  width: 8vw;
}
@media (min-width: 48rem) {
  .btn2 img {
    width: 2vw;
  }
}

.animation {
  filter: blur(3px);
  transition: 2s;
  opacity: 0;
}

.from-left {
  transform: translateX(-120%);
  overflow: none;
}

.from-right {
  transform: translateX(100%);
  overflow: none;
}

.from-top {
  transform: translateY(-100%);
  overflow: none;
}

.from-bottom {
  transform: translateY(100%);
  overflow: none;
}

.animation.show {
  opacity: 1;
  filter: blur(0);
  transform: translate(0);
  overflow: none;
}

/*# sourceMappingURL=style.css.map */
